.BuildControls {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    padding-left: 10px;
    width: 80%;
}


@media (min-width: 500px) {
    .BuildControls {
        width: 60%;
    }
}

