.Box {
    padding: 2em;
    border: 1px solid black;
  }

  .Headline {
    font-size: 2em;
    line-height: 1.5em;
    margin: 0.5em 0;
  }

  .Paragraph {
    font-size: 1em;
    line-height: 1.5em;
    margin: 1em 0;
  }

  .BorderLess{
    border: none;
  }