.NavigationItem {
    margin: 10px 0;
    display: block;
    text-align: center;
}

.NavigationItem a {
    color: #8f5c2c;
    text-decoration: none;
    padding: 16px 10px;
    margin: auto 2px;
    border-right: 2px solid rgb(197, 56, 56);

}


.NavigationItem a.active{
        background-color: #f7e6b8;
        color: #080807;
}

.NavigationItem a:hover {
    animation: bounce 1s;
    background-color:#a16e3e;
    color: #a5a4a5;
}




@media (min-width: 500px) {
    .NavigationItem {
        display: flex;
        height: 100%;
        align-items: center;
    }

    .NavigationItem a {
        color: white;
        text-decoration: none;
        height: 100%;
        border-bottom: 4px, solid transparent;
        display: block;
    }

}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

