.Controls {
    display: flex;
    flex-direction: column;
    border: black solid 2px;
    flex-basis: 100%;
    margin: auto;
    box-shadow: 2px 2px 2px #966909;
    background-color: #f1d18b;
}



@media (min-width: 500px) {
    .Controls{
        flex-basis: 30%;
        margin: auto 10px auto auto;
    }
}